<!--<nav>-->

<!--  <ul>-->
<!--    <li routerLink="home"> Accueil</li>-->
<!--    <li routerLink="latest-news"> Liste des News</li>-->
<!--    <li routerLink="task-list"> Liste des tâches</li>-->
<!--    <li> Detail d'une tâche</li>-->
<!--    <li> Ajout d'une tâche</li>-->

<!--  </ul>-->

<!--</nav>-->

<div class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="home">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="latest-news">Liste des News </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="task-list">Liste des Tâches </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="task-detail">Détails d'une Tâche </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="add-task">Ajout d'une Tâche </a>
    </li>
  </ul>
</div>
