h2 {
  padding-top: 50px;
  margin: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border: dotted black 1px;
}

h4 {
  padding-bottom: 50px;
}

form {
  border: solid 1px black;
  padding-bottom: 25px;
  padding-top: 25px;
}
